/* variáveis */
:root {
    /* cores */
    --corBranca: #fff;
    --corPreta: #002B36;
    --corBege: #F3E9E1;
    --corAzulMarinho: #002451;
    --corVermelha: #F36D6B;
    --corFundoMaisClaro: #073642;

    /* bordas */
    --border: 1px solid var(--corVermelha);

    /* tipografia */
    --paragrafoMedio: 1rem;
    --paragrafoPequeno: 0.75rem;
}

/* retirar carectirísticas padrões de elementos */
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    display: block;
}

body {
    min-height: 100vh;
    background: var(--corPreta);
    color: var(--corBege);
    font-size: 16px;
    margin: 0px;
}

main {
    padding-inline: 15rem;
}

p {
    font-size: var(--paragrafoMedio);
}

.page-container {
    width: 100%;
    display: block;
    
}


/* demonstrações do código */
.container-blocos-codigos {
    padding: 1rem;
    background-color: var(--corFundoMaisClaro);
}

.input, .output {
    height: 50px;
    padding-inline: 2rem;
    border: var(--border);
    background-color: var(--corFundoMaisClaro);
}

.input {
    margin-bottom: 1rem;
}

/* estilizar botões da demonstração de código */
.container-bt {
    display: flex;
}

.bt-ativar, .bt-resetar {
    margin-bottom: 1rem;
    font-size: var(--paragrafoPequeno);
    border: var(--border);
    background: var(--corFundoMaisClaro);
    color: var(--corBege);
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

.bt-ativar:hover, .bt-resetar:hover {
    background: var(--corVermelha);
    color: var(--corPreta);
}