/* paleta de cores */
:root {
    --corBranca: #fff;
    --corPreta: #000;
    --corBege: #F3E9E1;
    --corCinza: #B4C4C3;
    --corVermelha: #F36D6B;
    --corAzulEscuro: #2E535E;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    display: block;
}

body {
    /*display: flex;*/
    min-height: 100vh;
    background: var(--corPreta);
    color: var(--corBege);
    font-size: 16px;
    margin: 0px;
}

.page-container {
    width: 100%;
    display: block;
    
}
